<common-layout id="parent">
  <p class="description description--left">Designs made in code</p>
  <p class="description description--right">Designs made in code</p>
  <nav class="menu">
    <ul class="menu-items">
      <li id="next" class="menu-item menu-item--next">
        <button class="menu-item__link">
          <span class="menu-item__text">Next</span>
          <span class="menu-item__arrow menu-item__arrow--right"></span>
        </button>
      </li>
      <li id="previous" class="menu-item menu-item--previous">
        <button class="menu-item__link">
          <span class="menu-item__arrow menu-item__arrow--left"></span>
          <span class="menu-item__text">Previous</span>
        </button>
      </li>
    </ul>
  </nav>
</common-layout>