body {
  margin: 0;
}

.tp-dfwv {
  position: fixed !important;
  width: auto !important;
  user-select: none;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
}

.page {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  color: var(--font-color, #fff);
  text-transform: uppercase;
  font-size: 7vmin;
  margin-inline: 10%;
  user-select: none;
}

.page:nth-child(odd) {
  justify-content: flex-end;
}
