.views {
  list-style: none;
  font-size: 0;
  display: flex;
  flex-wrap:wrap;
  gap: 40px;
  margin-top: 150px;
  padding: 40px
}

.views__item {
  flex: 0 1 calc(calc(100% - 80px) / 3);
  display: inline-block;
}

.views__item__link {
  position: relative;
  display: block;
  transition: transform 0.12s;
}

.views__item__link:hover {
  transform: translateY(-14px);
}

.views__item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-weight: bold;
  opacity: 0;
  padding: 10px 0
}

.views__item__link:hover .views__item__title {
  opacity: 1;
  transform: translateY(34px);
  color: #fff;
}

.views__item__image {
  width: 100%;
  border-radius: 20px
}
