.views {
  height: 100%;
  overflow: scroll;
  list-style: none;
  font-size: 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 200px 40px 40px
}

.views__item {
  width: 30%;
  display: inline-block;
}

.views__item__link {
  display: block;
  transition: transform 0.12s;
}

.views__item__link:hover {
  transform: translateY(-14px);
}

.views__item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-weight: bold;
  opacity: 0;
  padding: 10px 0
}

.views__item__link:hover .views__item__title {
  opacity: 1;
  transform: translateY(34px);
  color: #fff;
}

.views__item__image {
  width: 100%;
  border-radius: 20px
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
}
::-webkit-scrollbar-thumb {
  background-color: #444 ;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
