body {
  margin: 0;
  overflow: hidden;
}

h1 {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  font-family: 'IBM 3270';
  margin: 0;
  user-select: none;
}
