body {
  margin: 0;
  user-select: none;
  color: #fff
}

body.home {
  overflow-y: scroll;
  background-color: #1a1a1a
}

body.error,
body.gallery {
  overflow: hidden;
  background-color: #000
}

canvas {
  position: fixed;
  inset: 0;
  z-index: 10
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute
}
::-webkit-scrollbar-thumb {
  background-color: #000
}
::-webkit-scrollbar-track {
  background-color: transparent
}